body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; 
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;  
  max-width: 250px;
  height: 100%;
  background-color: #d99cbe;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar .nav h1 {
  font-size: 1.5rem;  
  font-weight: 900;
  margin-bottom: 30px;
}

.sidebar .img img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sidebar .nav ul {
  list-style: none;
  padding: 0;
}

.sidebar .nav ul li {
  margin: 15px 0;
}

.sidebar .nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.sidebar .nav ul li a:hover {
  opacity: 0.7;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease;
}

.full-screen {
  height: 90vh;
  width: 70%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; 
  padding-left: 40px;
}

.full-screen h3 {
  font-size: 3rem; 
  color: #d99cbe;
}

.full-screen h1 {
  font-size: 4rem;
  color: #d99cbe;
}

.full-screen p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.full-screen ul {
  display: flex; 
  padding: 0;
  list-style: none;
  gap: 20px;
}

.full-screen ul li {
  display: flex;
  justify-content: center;
}

.full-screen ul li img {
  width: 45px;
  height: 45px;
}
.full-screen .title-card {
  font-size: 14pt;
  font-weight: bold; 
}

.full-screen .conteudo-card {
  font-size: 10pt;
  color: #fff; 
}

.icons {
  display: flex;
  gap: 15px; 
  align-items: center; 
}

.icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #495057;
  display: flex; 
  align-items: center; 
  justify-content: center;
  text-decoration: none;
}

.icons a i {
  font-size: 16pt;
  color: #fff;
}

.icons a:hover {
  background-color: #d99cbe;
  color: #d99cbe;
  transform: scale(1.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; 
}

.card {
  background-color: #d99cbe; 
  color: #fff;
  border-radius: 12px; 
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.separator {
  display: flex;
  border: none; 
  height: 4px; 
  background-color: #d99cbe; 
  margin: 40px 0; 
  width: 100%; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto;
}

.footer {
  background-color: #d99cbe;
  color: #fff;
  text-align: center;
}

.sidebar-button {
  display: none;
  background-color: #f54291;
  border: none;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-button i {
  color: white;
  font-size: 24px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .separator {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  /* Sidebar Hidden on Small Screens */
  .sidebar {
    transform: translateX(-100%);
  }

  /* Show the button toggle only on smaller screens */
  .sidebar-button {
    display: block;
  }

  /* When toggle is checked, show sidebar */
  #toggle-sidebar:checked ~ .sidebar {
    transform: translateX(0);
  }

  /* Adjust content when sidebar is visible */
  #toggle-sidebar:checked ~ .content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 576px) {
  .content {
    margin-left: 0;
    padding: 10px;
  }

  .sidebar {
    width: 70%;
    transform: translateX(-100%);
  }

  #toggle-sidebar:checked ~ .sidebar {
    transform: translateX(0);
  }

  #toggle-sidebar:checked ~ .content {
    margin-left: 70%;
  }
}
